.miolo-pets {
  width: 1920px;
  position: relative;
  padding-top: 60px;
}

/* Animações */
@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Estado inicial - escondido */
.animate-item {
  opacity: 0;
}

/* Estado animado - visível */
.animate-item.visible {
  animation-duration: 0.8s;
  animation-fill-mode: both;
  animation-timing-function: ease-out;
}

/* Seção 1 - Cadastre seu animal */
.secao-1 {
  position: relative;
}

.imagem1 {
  width: 500px;
  height: 380px;
  position: absolute;
  top: 829px;
  left: 371px;
}

.imagem1 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagem1.visible {
  animation-name: fadeInLeft;
  animation-delay: 0.2s;
}

.cadastre-pet-icon {
  width: 97px;
  height: 85.68px;
  position: absolute;
  top: 843px;
  left: 971px;
}

.cadastre-pet-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.cadastre-pet-icon.visible {
  animation-name: scaleIn;
  animation-delay: 0.4s;
}

.cadastre-titulo {
  width: 398px;
  height: 44px;
  position: absolute;
  top: 969px;
  left: 971px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.cadastre-titulo .highlight {
  color: #F8C736;
}

.cadastre-titulo.visible {
  animation-name: fadeInRight;
  animation-delay: 0.6s;
}

.cadastre-texto {
  width: 580px;
  height: 150px;
  position: absolute;
  top: 1024px;
  left: 971px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #707070;
}

.cadastre-texto.visible {
  animation-name: fadeInRight;
  animation-delay: 0.8s;
}

/* Linha tracejada 1 */
.linha-1 {
  position: absolute;
  top: 1215px;
  left: 584px;
  width: 597px;
  height: 308px;
}

.linha-1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.linha-1.visible {
  animation-name: fadeInUp;
  animation-delay: 1s;
}

/* Seção 2 - Procure pretendentes */
.procure-pet-icon {
  width: 70.82px;
  height: 71.49px;
  position: absolute;
  top: 1546px;
  left: 373px;
}

.procure-pet-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.procure-pet-icon.visible {
  animation-name: scaleIn;
  animation-delay: 0.2s;
}

.procure-titulo {
  width: 430px;
  height: 44px;
  position: absolute;
  top: 1648px;
  left: 373px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.procure-titulo .highlight {
  color: #F8C736;
}

.procure-titulo.visible {
  animation-name: fadeInLeft;
  animation-delay: 0.4s;
}

.procure-texto {
  width: 580px;
  height: 150px;
  position: absolute;
  top: 1703px;
  left: 373px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #707070;
}

.procure-texto.visible {
  animation-name: fadeInLeft;
  animation-delay: 0.6s;
}

.imagem2 {
  width: 500px;
  height: 380px;
  position: absolute;
  top: 1546px;
  left: 1051px;
}

.imagem2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagem2.visible {
  animation-name: fadeInRight;
  animation-delay: 0.8s;
}

/* Linha tracejada 2 */
.linha-2 {
  position: absolute;
  top: 1921px;
  left: 583.87px;
  width: 635.5px;
  height: 390px;
}

.linha-2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.linha-2.visible {
  animation-name: fadeInUp;
  animation-delay: 1s;
}

/* Seção 3 - Marque um encontro */
.imagem3 {
  width: 500px;
  height: 380px;
  position: absolute;
  top: 2252px;
  left: 371px;
}

.imagem3 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imagem3.visible {
  animation-name: fadeInLeft;
  animation-delay: 0.2s;
}

.agende-pet-icon {
  width: 77.39px;
  height: 73px;
  position: absolute;
  top: 2278px;
  left: 974px;
}

.agende-pet-icon img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.agende-pet-icon.visible {
  animation-name: scaleIn;
  animation-delay: 0.4s;
}

.agende-titulo {
  width: 398px;
  height: 44px;
  position: absolute;
  top: 2382px;
  left: 971px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #000;
}

.agende-titulo .highlight {
  color: #F8C736;
}

.agende-titulo.visible {
  animation-name: fadeInRight;
  animation-delay: 0.6s;
}

.agende-texto {
  width: 580px;
  height: 150px;
  position: absolute;
  top: 2500px;
  left: 971px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 24px;
  line-height: 150%;
  letter-spacing: 0%;
  color: #707070;
}

.agende-texto.visible {
  animation-name: fadeInRight;
  animation-delay: 0.8s;
}
