.footer {
  width: 1920px;
  height: 640px;
  position: absolute;
  left: 0;
}

.footer img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Posição do footer para página ComoFunciona */
.como-funciona-page .footer {
  top: 2960px;
}

/* Posição do footer para página PetsNamorando */
.pets-namorando-page .footer {
  top: 1900px;
}
